* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* :not() */
a {
  cursor: pointer;
  /* transition: all 0.5s ease-in-out; */
}
h1{
  font-family: 'Volkhov', serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 15vh;
  /* background-color: #df6951; */
  position: static;
  /* top: 0; */
  z-index: 1;
  padding-top: 2rem;
}
.navLinks {
  display: flex;
  /* z-index: 100; */
  width: 60vw;
  justify-content: space-around;
  align-items: center;
}

.navLinks li {
  list-style: none;
}
li:nth-child(6) {
  padding: 3px 1rem;
  border: 1px solid #212832;
  border-radius: 5px;
  background-color: transparent;
}
li a {
  font-family: 'Open Sans', sans-serif;
  color: #212832;
  text-decoration: none;
  font-size: 13px;
}
select {
  border: none;
  background-color: transparent;
}
/* HAMBUGER */
#hambuger {
  display: none;
}

#hambuger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
/* TO EFFECT THE ANIMATION ON THE HAMBUGER */
.toggle .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}
.toggle .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* HEROSECTION */
.heroSection {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
}
.heroSubOne img {
  position: absolute;
  right: -1px;
  z-index: -1;
  top: 0;
  transform: rotateY(0deg);
}
@media screen and (max-width: 1400px) {
  .heroSubOne img {
    right: -10px;
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 1300px) {
  .heroSubOne img {
    right: -28px;
    transform: rotateY(23deg);
  }
}
@media screen and (max-width: 1200px) {
  .heroSubOne img {
    right: -78px;
    transform: rotateY(26deg);
  }
  .heroSubOne h1 {
    font-size: 3rem;
    width: 340px;
  }
  .heroSubOne p {
    width: 330px;
  }
}
@media screen and (max-width: 1100px) {
  .heroSubOne img {
    display: none;
    transform: rotateY(38deg);
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  /* .heroSubOne img { */
    /* display: none; */
    /* transform: rotateY(38deg); */
  /* } */
  /* .heroSubOne h1{
    font-size: 40px;
    width: 300px;
  }
  .heroSubOne p{
    width: 200px;
    font-size: 14px;
  } */
}
.heroSubOne {
  flex: 50%;
  margin-left: 8%;
}
.heroSubOne h3 {
  color: #df6951;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}
.heroSubOne h1 {
  font-weight: 700;
  font-size: 3.5rem;
  /* line-height: 70px; */
  letter-spacing: -0.04em;
  color: #181e4b;
  width: 400px;
}
.heroSubOne h1 span::after {
  content: url(/Assets/DecoreH1.svg);
  /* color: #df6951; */
  position: absolute;
  transform: translateX(-150px);
  padding-top: 10px;
}
.heroSubOne p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
  width: 365px;
  padding-top: 1rem;
}
/* .plane img {
  display: none;
} */
.heroImage img {
  width: 100%;
  height: auto;
  transform: translateX(-90px);
  padding-bottom: 5rem;
}
aside {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}
.btn1 {
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin-right: 1rem;
  font-family: 'Open Sans', sans-serif;

}
aside div {
  color: #686d77;
  /* display: none; */
}
.fa-play-circle{
color: #DF6951;
font-size: 35px;
margin-right: 1rem;
box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
/* background-color: red; */
}
.iframe{
  display: flex;
  align-items: center;
}
@keyframes navlinksId {
  from {
    opacity: 0;
    /* transform: translateX(100px); */
    /* transform-origin: bottom; */
    transform: rotateX(30deg);
  }
  to {
    opacity: 1;
    transform: translateX(10px);
    /* transform: rotateX(40deg); */
  }
}

@media screen and (max-width:500px) {
 .heroSubOne h1{
  width: 300px !important;
 }
 .heroSubOne p{
  width: 300px !important;
  margin-left: 10px;
 }
}

@media screen and (max-width: 768px) {
  #hambuger {
    display: block;
    cursor: pointer;
  }

  .navLinks {
    position: absolute;
    right: 0px;
    top: 15vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 85vh;
    background-color: #df6951;
    /* opacity: 0.7; */
    width: 50vw;
    color: blue;
    transform: translateX(-200%);
    transition: all ease-in-out 0.5s;
    transform-style: preserve-3d;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroSubOne {
    flex: 50%;
  }
  .heroImage {
    flex: 50%;
    padding-left: 5rem;
  }
  .heroSubOne h3{
    text-align: center;
  }
  .heroSubOne h1 {
    font-size: 2.7rem;
    width: 400px;
    text-align: center;
  }
  .heroSubOne p {
    width: 410px;
    text-align: center;
  }
  .heroSubOne h1 span::after {
    content: url(/Assets/DecoreH1Rx.svg);
    position: absolute;
    transform: translateX(-115px);
    padding-top: 10px;
    /* display: none; */
  }
  aside{
    justify-content: center;
  }
  .servicesLists {
    flex-direction: column;
  }
  
  .destinationCities {
    flex-direction: column;
  }
  .stepsToBook {
    flex-direction: column;
  }
  .stepText h2{
    width: 300px !important;
  }
  .tripToRome{
    transform: translate(150px,-150px)!important;
  }
  .testimonial{
    flex-direction: column;
  }
  .testimonies h2{
    width: 95% !important;
  }
  .partners{
    flex-direction: column;
  }
  footer{
    padding: 0 !important;
    text-align: center;
  }
  .footerLinks{
    flex-direction: column;
    /* padding: 0 !important; */
  }
}
.NavActive {
  transform: translateX(0%);
  transition: all ease-in-out 0.5s;
  transform-style: preserve-3d;
}
.servicesText img {
  position: absolute;
  right: 0%;
  transform: translateY(-50px);
}
.servicesText h6 {
  text-align: center;
  color: #5e6282;
  font-weight: 600;
  padding-bottom: 10px;
  /* font-size: 18px; */
}
.servicesText h3 {
  text-align: center;
  color: #14183e;
  font-weight: 700;
  font-family: 'Volkhov', serif;
}
.servicesLists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 4rem; */
  padding: 1rem;
  margin-top: 2rem;
}
.servicesRendered {
  padding: 1rem;
  text-align: center;
  background: #ffffff;
border-radius: 36px;
}
.servicesRendered:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  transition: ease-out;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
  cursor: pointer;
}
.servicesRendered h6 {
  color: #1e1d4c;
  padding-bottom: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.servicesRendered p {
  color: #5e6282;
  font-size: 10px;
  width: 100px;
}
.destination {
  margin-top: 2rem;
  text-align: center;
}
.destinationText h6 {
  color: #5e6282;
  padding-bottom: 10px;
  font-weight: 600;
  padding-bottom: 10px;
}
.destinationText h3 {
  color: #14183e;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Volkhov', serif;
}
.destinationCities {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.cities img {
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}
.city {
  display: flex;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}
.trip {
  display: flex;
  /* justify-content: ; */
  align-items: center;
  padding-left: 3rem;
}
/* .sketches img{
  position: absolute;
} */
.stepsToBook {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stepText h6 {
  color: #5e6282;
  font-weight: 600;
  padding-bottom: 0.7rem;
}
.stepText h2 {
  color: #14183e;
  font-size: 36px;
  width: 371px;
  font-weight: 700;
  padding-bottom: 1rem;
  font-family: 'Volkhov', serif;

}
.steps {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.steps p {
  font-size: 10px;
  width: 225px;
  color: #5e6282;
  font-weight: 400;
}
.steps h6 {
  color: #5e6282;
  font-weight: 700;
}
.blurWrapper {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  /* background: #59B1E6; */
  /* opacity: 0.8; */
  /* filter: blur(150px); */
  /* width: 38%; */
  /* z-index: -1; */
  /* position: absolute; */
  /* right: 100px; */
}
.tripPackage {
  /* position: absolute; */
  /* right: 100px; */
  /* transform: translateY(-160px); */
  /* z-index: 1; */
  padding: 2rem;
  border-radius: 10px;
  /* display: none; */
}
.tripPackage h6 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #080809;
}
.tripPackage p {
  color: #84829a;
  padding-bottom: 1rem;
  font-size: 15px;
}
.peopleLikes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 2rem; */
}
.peopleGoing {
  display: flex;
  align-items: center;
}
.tripToRome {
  width: 50%;
  background-color: #ffffff;
  border-radius: 18px;
  padding: 0.5rem;
  transform: translate(185px, -123px);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.tripToRome img {
  border-radius: 50%;
  /* width: 100%; */
  /* height: auto; */
}
.outGoing {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.going p {
  font-size: 12px;
}
.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 30px;
}

.html {
  width: 40%;
  background: #8a79df;
}
.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.ecilpse {
  width: 217px;
  height: 207px;
  background-color: #59b1e6;
  opacity: 0.8;
  filter: blur(-1px);
  position: absolute;
  transform: translate(140px, -470px);
  filter: blur(50px);
  z-index: -1;
}
.testimonial{
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;

}
.testimonies h5{
  color: #5E6282;
}
.testimonies h2{
  color: #14183E;
  font-size: 32px;
  padding-bottom: 3rem;
  width: 70%;
  font-family: 'Volkhov', serif;

}
.carouselDot{
  height: 7px;
  width: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #39425D;
  margin-left: 7px
}
/* .carouselDot .active{
  height: 7px;
  width: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: inline-block;
} */
/* .carouselDot .inactive{
  background-color: #E5E5E5;
  height: 7px;
  width: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: inline-block;
}
.carouselDot .inactive{
  background-color: #E5E5E5;
  height: 7px;
  width: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: inline-block;
} */
.carouselTestimony {
  width: 300px;
  font-size: 12px;
  background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.arrow{
  display: flex;
}
.partners{
display: flex;
align-items: center;
justify-content: space-around;
}
.partnerLogo img:hover{
  /* background: #FFFFFF; */
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 10px;
background-color: #59b1e6;
/* height: 130px; */
/* display: none; */
}

.subscribe{
background: #DFD7F9;
opacity: 0.7;
border-radius: 129px 20px 20px 20px ;
text-align: center;
margin: 0 6rem;
/* height: 200px; */
/* height: 407px; */
/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.subscribe h3{
  color: #5E6282;
  text-align: center;
  padding-top: 3rem;
  margin-left: 6rem;
  margin-right: 6rem;
  opacity: 1;
  padding-bottom: 3rem;
}
.subscribe a img{
  position: absolute;
  right: 75px;
}
.subscribe form{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
input[type=email]{
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

input[type=submit]{
  color: #FFFFFF;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
}
.littlestars img{
position: absolute;
right: 15px;
transform: translateY(-75px);

}
footer{
  margin-top: 3rem;
  padding: 0 5rem;
  
}
.footerLinks{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  /* align-items: flex-start; */
}
.footerlogo h2{
  font-weight: 100;
  /* font-size: 62px; */


}
.footerLinks p{
  font-size: 13px;
  color: #5E6282;
  width: 190px;
}
.links ul{
  display: flex;
  flex-direction: column;
  /* display: none; */
}
.links ul li:nth-child(1){
  /* display: none; */
  color: #080809;
  font-weight: 700;
  padding-bottom: 1rem;
}
.links ul li {
  color: #5E6282;
  font-weight: 500;
  /* display: none; */
}

.fa-instagram{
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
  padding: 1rem;
  color: #ffffff;
  border-radius: 50%;
}
.social{
  display: flex;
  align-items: center;
}
.playStore{
  padding-top: 1rem;
  display: flex;
}
footer span{
  text-align: center;
  display: block;
  padding-top: 2rem;
}
.box{
  width: 70px;
  height: 70px;
  background-color:#DF6951;
  color: #080809;
  /* border: 1px solid ; */
  /* border-bottom-left-radius: 20px; */
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
position: absolute;
z-index: -1;
transform: translate(-40px, -20px);
opacity: 1;
}
.box:hover{
  cursor: pointer;

}